@model dotNet.Models.User.UserRolesViewModel
@{
    ViewBag.Title = "RegisterRole";
}
<h2>RegisterRole</h2>
@using (Html.BeginForm("RegisterRole", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>dodaj nowe konto</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Wybierz użytkownika", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Email")
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Wybierz uprawnienie", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Name")
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Rejestruj" />
            </div>
        </div>

}
